*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    
}
body{
  transition: background-color 0.6 ease;
}
h1{font-family: "Orelega One"; }

/*******SETAS PARA DIREITA**********/
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-left: 50px solid rgb(248, 237, 237);
    float: inline-end;
    margin-right: 300px;
  }
  
  .arrow-small {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left: 30px solid rgb(0, 0, 0);
    float: inline-end;
    position: relative;
    left: 50px;
    top: 10px;
  }
  .arrow-left-small {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 30px solid rgb(14, 2, 2);
    margin-left: 300px;
    position: relative;
    bottom: 30px;
    
  }
  
  /******SETAS PARA ESQUERDA************/
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 50px solid rgb(248, 237, 237);
    margin-left: 300px;
  }