body{
  background-image: url(/assets/img/background/luzes1.jpg);
  background-size: cover;
}

h1 {
  width: 300px;
  background-color: rgba(0, 0, 51, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #2fdae0;
  padding: 10px 20px; 
  border: solid 1px black;
  letter-spacing: 1.5px;
  text-align: center;
}
  
.container { 
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 20px; 
}

.left-column { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.numbers {
  width: 22vw;
  height: auto;
  border: solid 1px black;
  background-color: rgba(0, 0, 51, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #f5f5f5;
  padding: 20px; 
  margin-top: 50px; 
  font-size: 0.8rem;
  line-height: 1.2rem;
}

strong{
  color: #2fdae0;
  font-size: 0.8rem;
}

.image {
  width: 500px;
  height: 500px;
  border: solid 1px rgb(226, 201, 201);
  margin: 20px auto; /* Centraliza a imagem horizontalmente */
  display: block; /* Garante que a imagem ocupe o espaço correto */
}

h3{color: #2fdae0;}

.aside {
  width: 25vw;
  height: 80vh;
  border: solid 1px black;
  background-color: rgba(0, 0, 51, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px; 
  max-width: 300px;
  font-size: 0.9rem;
  text-align: center;
}

footer { 
  padding: 20px; 
  background-color: rgba(0, 0, 20, 0.1); 
  border-radius: 10px; 
  text-align: center; 
  color: #e8e8e8; 
  margin-top: 20px;
  position: relative;
  top: 50px;
  background-image: url(/assets/img/background/_7a51b2d2-e609-4990-9f3d-4e7f8361ea4a.jpg);
  background-position: center;
  background-size: cover; 
}

/********ITENS DE NAVEGAÇÃO DO FOOTER*********/
.nav-footer {
  font-family: "Orelega one", sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 200px;
  border: none; 
  font-size: 1rem;
}

.nav-footer a, .nav-footer-b a {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 51, 0.8); 
  text-align: center;
  padding: 15px;
  margin-bottom: 2px;
  border-radius: 5px; 
  transition: all 0.3s ease; 
  text-shadow: 0 0 5px #007bff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.nav-footer a:hover {
  transform: scale(1.1); 
  background-color: #007bff; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.nav-footer-b {
  font-family: "Orelega one", sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1100px;
  width: 200px;
  border: none; 
  font-size: 1rem;
}

.nav-footer-b a:hover {
  transform: scale(1.1); 
  background-color: #007bff; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
/******************************************/
footer img {
  width: 150px; 
  margin-bottom: 10px; 
}

footer p { 
  font-size: 0.9rem;
  margin-bottom: 5px; 
}

footer a { 
  color: #007bff;
  text-decoration: none;
}

footer a:hover {text-decoration: underline; }
